/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');

/* Reseta margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais para o corpo do documento */
body {
    font-family: 'Roboto', sans-serif; /* Define a fonte para Roboto */
    background-color: #fff; /* Define a cor de fundo como branco */
}

/* Estilo para o cabeçalho (header) */
header {
    width: calc(100% - 0px);
    background-color: rgb(22, 67, 121);
    padding: 10px;
    margin-bottom: 0px;
    background-attachment: fixed;
}

/* Estilo para a imagem no cabeçalho */
header img {
    background-attachment: fixed; /* para fixar a imagem no lugar */
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    top: -90px;
    left: 1250px;
    width: 100px;
    border-radius: 25px;
}

/* Estilo para o título no cabeçalho */
h1 {
    font-size: 2.0rem;
    line-height: 2.0;
    color: #fff;
    
}

h2 {
    font-size: 1.0rem;
    line-height: 2.0;
    color: #fff;
   
}

h4 {
    font-size: 2.0rem;
    line-height: 2.0;
    color: #000000;
   
}

h5{
    font-size: 1.0rem;
    line-height: 3.0;
    color: #000000;
    text-align: center;
}
.menu {
    background-color: rgb(14, 71, 140);
    text-align: center;
    padding: 10px 0;
    width: calc(100% - 0px);
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
}
.menu li a:hover {
    color: #000;
}

/* Estilo para o menu dropdown */
.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px rgb(255, 255, 255);
    display: none;
}

.dropdown-menu a {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 138, 237);
    padding: 20px 30px;
    margin-right: 1px;
    font: 1.2rem 'verdana';
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.planoFundo {
    background-image: url('img/CEAN.png');
    background-attachment: fixed; /* para fixar a imagem no lugar */
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(103% - 50px);
    padding: 100px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
}


article {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

h3, h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section h4 a:hover {
    color: #ffffff;
}


section {
    width: calc(50% - 5px);
    background-color: #66c86b;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-position: center;
}

section h3 {
    color: #000;
}

section h4 a{
    color: #0a023a;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 1.6rem;
    font-weight: bold;
}

.programa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteiner1 {
    width: calc(50% - 20px);
    background-color: rgb(253, 254, 255);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 25px;
}



.titulo{

    font-size: 2.5rem;
    color:#000000;

}