/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');

/* Reseta margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais para o corpo do documento */
body {
    font-family: 'Roboto', sans-serif; /* Define a fonte para Roboto */
    background-color: #fff; /* Define a cor de fundo como branco */
}

/* Estilo para o cabeçalho (header) */
header {
    width: calc(100% - 0px);
    background-color: rgb(22, 67, 121);
    padding: 10px;
    margin-bottom: 0px;
    background-attachment: fixed;
}

/* Estilo para a imagem no cabeçalho */
header img {
    background-attachment: fixed; /* para fixar a imagem no lugar */
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    top: -90px;
    left: 1250px;
    width: 100px;
    border-radius: 25px;
}

/* Estilo para o título no cabeçalho */
h1 {
    font-size: 2.0rem;
    line-height: 2.0;
    color: #ffffff;
}

h2 {
    font-size: 1.0rem;
    line-height: 2.0;
    color: #ffffff;
}

h3{
    font-size: 2.5rem;
    line-height: 2.0;
    color: #040051;
}

h4{
    font-size: 1.5rem;
    line-height: 2.0;
    color: #040051;
}

h5{
    font-size: 2.0rem;
    line-height: 2.0;
    color: #040051;
}

h6{
    font-size: 1.0rem;
    line-height: 2.0;
    color: #c41a1a;
}

.texto {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    
}

.controle{
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(118, 118, 118, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
    border-radius: 15px;
    margin-bottom: 20px;
}

.menu {
    background-color: rgb(14, 71, 140);
    text-align: center;
    padding: 10px 0;
    width: calc(100% - 0px);
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
}

.menu li a:hover {
    color: #000000;
}

/* Estilo para o menu dropdown */
.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px rgb(255, 255, 255);
    display: none;
}

.dropdown-menu a {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 138, 237);
    padding: 20px 30px;
    margin-right: 1px;
    font: 1.2rem 'verdana';
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilo para o conteúdo do artigo */
article {
    background-color: #fff;
    padding: 20px;
}

/* Estilo para os contêineres de conteúdo */
.container {
    display: flex;
    align-items: center;
    background-color: rgba(57, 138, 237, 0.573);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-bottom: 20px;
}

/* Estilo para as imagens dentro dos contêineres */
.container img {
    width: 350px;
    margin-right: 20px;
}

/* Estilo para os parágrafos dentro dos contêineres */
.container p {
    flex: 10;
    font-size: 1rem;
}

/* Estilo para os títulos e subtítulos dentro do artigo */
article h3,
article h4 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
}

p {
    font-size: 1rem;
    margin-bottom: 25px;
}

/* Estilo para as seções */
section {
    background-color: rgba(57, 138, 237, 0.573);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-bottom: 20px;
    align-items: center;
}

/* Estilo para os títulos das seções */
section h3 {
    text-align: center;
    font-size: 1.5rem;
}

/* Estilo para os parágrafos dentro das seções */
section p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Estilo para as listas não ordenadas */
ul {
    list-style-type: disc;
    padding-left: 40px;
    font-size: 1rem;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
}

#PIEC{

    background-color: #c7c5c5;
}
#PAR{

    background-color: #c7c5c5;
}

#ENEM{

    background-color: #c7c5c5;
}

#PRONEM{

    background-color: #c7c5c5;
}

#Conectada{

    background-color: #c7c5c5;
}

#ProBNCC{

    background-color: #c7c5c5;
}

#PNLD {

    background-color: #c7c5c5;
}